<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>勤怠履歴</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/history.css}"></head>
<body>
    <h1>勤怠履歴</h1>

    <div class="navbar">
        <a th:href="@{/dashboard}">ダッシュボード</a>
        <a th:href="@{/attendance}">勤怠登録</a>
        <a th:href="@{/history}">勤怠履歴</a>
    </div>

    <h2>今月の勤務時間合計: <span th:text="${totalWorkTime}"></span></h2>

    <table class="attendance-table">
        <thead>
            <tr>
                <th>No</th>
                <th>日付</th>
                <th>出勤時間</th>
                <th>退勤時間</th>
                <th>勤務時間</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="attendance, iterStat : ${attendance}">
                <td th:text="${iterStat.index + 1}">1</td>
                <td th:text="${#temporals.format(attendance.workDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#temporals.format(attendance.startTime, 'HH:mm')}"></td>
                <td th:text="${#temporals.format(attendance.endTime, 'HH:mm')}"></td>
                <td th:text="${attendance.workingHours}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/attendance/csv">CSVダウンロード</a>
</body>
</html>